<h1>配送先登録 / 一覧</h1>

<table>
  <%= form_with model: @new_address, url: addresses_path, method: :post, local:true do |f| %>
    <tr>
      <td width="200px"><%= f.label :postal_code, "郵便番号（ハイフンなし）" %></td>
      <td width="200px">
        <%= f.text_field :postal_code %>
      </td>
      <td width="150px"></td>
    </tr>
    <tr>
      <td>
        <%= f.label :address, "住所" %>
      </td>
      <td>
        <%= f.text_field :address %>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <%= f.label :name, "宛名" %>
      </td>
      <td>
        <%= f.text_field :name %>
      </td>
      <td>
        <%= f.submit "新規登録" %>
      </td>
    </tr>
  <% end %>
</table>

<table>
    <tr>
      <td width="100px">郵便番号</td>
      <td width="300px">住所</td>
      <td width="120px">宛名</td>
      <td width="250px"></td>
    </tr>
  <% @addresses.each do |l| %>
    <tr>
      <td>
        <%= l.postal_code %>
      </td>
      <td>
        <%= l.address %>
      </td>
      <td>
        <%= l.name %>
      </td>
      <td>
        <%= link_to "編集する", edit_address_path(l.id) %>
        <%= link_to "削除する", address_path(l.id), method: :delete %>
      </td>
    </tr>
  <% end %>
</table>